@CHARSET "UTF-8";

body {
	padding: 20px;
	
}

a {
	text-decoration: none;
	color:black;
}

#imgLogo{
	width:10%;
	height:10;
}


#logAdminForm{
	border: solid;
	padding:20px;
	margin-left: auto;
  	margin-right: auto;
  	width: 400px;
    text-align: center;
    line-height: 1.5;
    box-shadow: 1px 1px 12px #555;
}