.content {
	margin: auto;
	width: 50%;
	border: 1px solid black;
}

.content h1 {
	text-align: center;
	text-decoration: underline;
}

.content .subContent{
	border:1px solid blue;
	margin:auto;
}

.content .submit {
	padding:0;
	text-align: center;
	margin: auto;
	width: 50%;
	
	border: 1px solid black;
}