@CHARSET "UTF-8";

.header{
	height:20%;
	margin-bottom:55px;
	display: list-item;
    list-style: none;
}

.footer{
	height:10%;
	width:100%;
	bottom:0;
	position:absolute;
}

.content{
	height:70%;
	margin-bottom:25px;
}

#imgLogo{
	width:10%; 
	float:right;
}

#copyright{
	 float:left;
}

#headerActivity{
	float:left;
	width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    box-shadow:1px 1px 12px #555;
}

#headerIdentification{
	float:right;
    box-shadow: 1px 1px 12px #555;
    padding: 5px;
}
